<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Mark Allen Evans | Basic Portfolio</title>
	<link rel="stylesheet" href="assets/style.css" type="text/css" media="all" />
</head>
<body>
	<!-- Page -->
	<div id="page">
		<!-- Header -->
		<div id="header">
			<!-- Navigation -->
			<div id="navigation">
				<ul>
				    <li class="active"><a href="#">home</a></li>
				    <li><a href="index.html">About</a></li>
				    <li><a href="portfolio.html">Portfolio</a></li>
				    <li class="last"><a href="contact.html">contact</a></li>
				</ul>
			</div>
			<!-- / Navigation -->
			<h1><a href="#">Basic Porftolio</a></h1>
			<div class="description">Mark Allen Evans portfolio</div>
		</div>
		<!-- / Header -->
		<!-- Slideshow -->
		<div id="slideshow">
			<div class="bg">
				<div class="cnt">
					<!-- Big Image -->
					<div class="big-image">
						<div class="big-image-holder">
							<ul>
							    <li><a href="index.html"><img src="assets/images/img1-big.jpg" alt="" /></a></li>
							</ul>
						</div>
					</div>
					<!-- / Big Image -->
					
				</div>
			</div>
		</div>
		<!-- Content -->
		<div id="content">
			<div class="cl">&nbsp;</div>
			<div class="left-col separator">
				<h2>Welcome</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eleifend congue augue nec viverra. Curabitur a mi pellentesque erat laoreet sodales. Cras tempus lorem quis erat interdum cursus. Sed <a href="#">sollicitudin</a> euismod tellus, vitae convallis velit viverra eget. Donec consequat metus nec odio ultricies lacinia. Mauris rutrum auctor augue, quis ultrices quam pellentesque ut.</p>
				<p>Praesent urna risus, fermentum eget euismod eu, placerat id felis. In venenatis sapien et mauris dictum sodales ac et mi. Ut pulvinar, metus facilisis sodales <a href="#">pellentesque</a>, arcu felis tempor ligula, eget dignissim dolor purus ut ante. Sed et risus non velit ornare condimentum ac eget risus.</p>
			</div>
			<div class="right-col">
				<h2>Services</h2>
				<p>Praesent urna risus, fermentum eget euismod eu, placerat id felis. In venenatis sapien et mauris dictum sodales ac et mi. Ut pulvinar, metus facilisis sodales <a href="#">pellentesque</a>, arcu felis tempor ligula, eget dignissim dolor purus ut ante. Sed et risus non velit ornare condimentum ac eget risus.<br /><a href="#">learn more</a></p>
				<h2>Blogroll</h2>
				<ul class="linklist">
				    <li><a href="#">Praesent urna risus, fermentum eget </a></li>
				    <li><a href="#">Ut pulvinar, metus facilisis</a></li>
				    <li><a href="#">Morbi ut commodo ante.</a></li>
				</ul>
			</div>
			<div class="cl">&nbsp;</div>
		</div>
		<!-- / Content -->
		<!-- Footer -->
		<div id="footer">
			<p>&copy; Basic Portfolio Designed with love by <a href="https://github.com/shopglobal">Mark Allen Evans</a></p>
		</div>
		<!-- / Footer -->
	</div>
	<!-- / Page -->
</body>
</html>